<link rel="stylesheet" href="/styles/profileCard.css" />

<!-- -Left Card that shows up on profile screen-->

<div class="row px-4">
  <div>
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div>
        <div class="text-center profile">
          <div class="text-center pt-1">
            <% if (user.displayPicture) {%>
            <img
              src="/image/<%= user.displayPicture %>"
              alt="..."
              width="60%"
              class="rounded pt-10"
              style="object-fit: cover; height: 15vw; border: 0px solid #6213c9;"
            />

            <% }else{ %>
            <img
              src="https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.png"
              style="border-radius: 50%;border: 0px solid #6213c9; "
              alt=" ..."
              width="60%"
              class="rounded pt-10"
            />
            <% } %>

            <!--  <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                                        alt="..." width="130" class="rounded mb-2 img-thumbnail" /> 
                                      
                                      https://i.pinimg.com/originals/fd/14/a4/fd14a484f8e558209f0c2a94bc36b855.pn
                                      -->
            <div class="text-center pt-2">
              <a
                href="/userProfile/editProfile"
                class="btn btn-sm text-center"
                style="
                  width: 40%;
                  color: rgb(255, 255, 255);
                  background-image: linear-gradient(
                    166deg,
                    #f22876 0%,
                    #942dd9 100%
                  );
                "
                >Edit profile</a
              >
            </div>
          </div>
        </div>
        <div class="text-center">
          <div>
            <h4 style="text-transform: capitalize"><%= user.username %></h4>
            <p class="small mb-4">
              <i class="fas fa-map-marker-alt mr-2"></i>
              <%= user.city %>
            </p>
          </div>
        </div>
      </div>
      <div class="bg-light text-center" style="color: blueviolet">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block"><%= user.profilePictures.length %> </h5>
            <small class="text-muted">
              <i class="fas fa-image mr-1"></i>Photos</small
            >
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block"><%= user.matchedUsers.length %> </h5>
            <small class="text-muted">
              <i class="fas fa-user mr-1"></i>Matches</small
            >
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block"><%= user.posts.length %> </h5>
            <small class="text-muted">
              <i class="fas fa-newspaper mr-1"></i>Posts</small
            >
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">About</h5>
        <div class="p-4 rounded shadow-sm bg-light" style="color: blueviolet">
          <p>
            <%- user.bio %> 
          </p>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Recent photos</h5>
          <a href="#" class="btn btn-link text-muted">Show all</a>
        </div>
        <% if (user.profilePictures.count==0) {%>
        <h3>0 images uploaded</h3>
        <% }else{ %>
        <div class="row">
          <div class="col-lg-6 mb-2 pr-lg-1 profileCard__img">
            <img
              src="/image/<%= user.profilePictures[0] %> "
              alt=""
              class="img-fluid rounded shadow-sm"
            />
          </div>
          <div class="col-lg-6 mb-2 pl-lg-1 profileCard__img">
            <img
              src="/image/<%= user.profilePictures[1] %>"
              alt=""
              class="img-fluid rounded shadow-sm"
            />
          </div>
          <div class="col-lg-6 pr-lg-1 mb-2 profileCard__img">
            <img
              src="/image/<%= user.profilePictures[2] %>"
              alt=""
              class="img-fluid rounded shadow-sm"
            />
          </div>
          <div class="col-lg-6 pl-lg-1 mb-2 profileCard__img">
            <img
              src="/image/<%= user.profilePictures[3] %>"
              alt=""
              class="img-fluid rounded shadow-sm"
            />
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
