
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<style>

        .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            margin-top:35px;
        }

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      /*display:none;  */
    }

</style>
 


    <!-- Page Content -->
   <div class="container page-top">


        <div class="row">


            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a href="/image/<%= user.profilePictures[0] %>" class="fancybox" rel="ligthbox">
                    <img  src="/image/<%= user.profilePictures[0] %>" class="zoom img-fluid "  alt="">
                   
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a href="/image/<%= user.profilePictures[1] %>"  class="fancybox" rel="ligthbox">
                    <img  src="/image/<%= user.profilePictures[1] %>" class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a href="/image/<%= user.profilePictures[2] %>" class="fancybox" rel="ligthbox">
                    <img  src="/image/<%= user.profilePictures[2] %>" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a href="/image/<%= user.profilePictures[3] %>" class="fancybox" rel="ligthbox">
                    <img  src="/image/<%= user.profilePictures[3] %>" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            
            
           
           
       </div>

     
      

    </div>

    <script>
  $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});

    </script>